/***** LIST *****/
/********** Group **********/
.list-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  list-style: none;
  margin: 1em 0;

  > li {
    & + li {
      margin-top: 0;
    }
  }
  a {
    &.list-group-item {
      color: $text-color;
      display: block;
      text-decoration: none;

      &:hover {
        background-color: $link-base-color;
        color: $background-color;
      }
    }
  }
}
.list-group-item {
  border: 1px solid $border-color-01;
  border-radius: 1em;
  padding: 0.5em 1em;

  .list-group-item-name {
    @include relative-font-size(1.25);
    border-bottom: 1px solid $border-color-01;
    display: block;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    text-align: center;
  }

  ul {
    &.list-group-item-members {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
